<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "Recuperar contraseña"|gettext }}</title>
    <!-- Vincular CSS de Bootstrap desde la carpeta bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
    <div class="d-flex justify-content-between">
            <a href="?lang=es" class="btn btn-primary">{{ "Español"|gettext }}</a>
            <a href="?lang=en" class="btn btn-primary">{{ "Inglés"|gettext }}</a>
        </div>
        <div class="row justify-content-center">
        

            <div class="col-md-6">
                <!-- Mostrar mensaje de error -->
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <!-- Mostrar mensaje de éxito -->
                {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                {% endif %}

                <div class="card">
                    <div class="card-header text-center">
                        <h4>{{ "Recuperar contraseña"|gettext }}</h4>
                    </div>
                    <div class="card-body">
                        <!-- Formulario de recuperación de contraseña -->
                        <form action="" method="post">
                            <div class="form-group">
                                <label for="email">{{ "Correo electrónico"|gettext }}</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                            <div class="form-group mt-4">
                                <button type="submit" class="btn btn-primary btn-block">{{ "Enviar enlace de recuperación"|gettext }}</button>
                            </div>
                        </form>
                        <div class="mt-3 text-center">
                            <p class="text-muted">{{ "Función en desarrollo, disculpen las molestias. Para recuperar la contraseña pónganse en contacto con"|gettext }} 
                                <a href="mailto:fdiaz@elpuig.xeill.net">fdiaz@elpuig.xeill.net</a>.</p>
                        </div>
                        <div class="form-group mt-3 text-center">
                            <a href="login">{{ "Volver al inicio de sesión"|gettext }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vincular JS de Bootstrap desde la carpeta bootstrap -->
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
